webservicehis-client/src/main/resources/WebServiceHIS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WebServiceHIS" targetNamespace="http://ejb.webservice.pdpcmb.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.webservice.pdpcmb.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ejb.webservice.pdpcmb.caib.es/" xmlns:tns="http://ejb.webservice.pdpcmb.caib.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="GeneralException" type="tns:GeneralException"/>
<xsd:complexType name="GeneralException">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="CreateException" type="tns:CreateException"/>
<xsd:complexType name="CreateException">
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="EJBException" type="tns:EJBException"/>
<xsd:complexType name="EJBException">
<xsd:sequence/>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ejbPassivate">
  </wsdl:message>
  <wsdl:message name="getHISList">
    <wsdl:part name="datAge" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EJBException">
    <wsdl:part element="tns:EJBException" name="EJBException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejbRemoveResponse">
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSessionContext">
    <wsdl:part name="arg0">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejbCreateResponse">
  </wsdl:message>
  <wsdl:message name="getUser">
  </wsdl:message>
  <wsdl:message name="CreateException">
    <wsdl:part element="tns:CreateException" name="CreateException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHISListResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejbPassivateResponse">
  </wsdl:message>
  <wsdl:message name="GeneralException">
    <wsdl:part element="tns:GeneralException" name="GeneralException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSessionContextResponse">
  </wsdl:message>
  <wsdl:message name="ejbActivate">
  </wsdl:message>
  <wsdl:message name="ejbActivateResponse">
  </wsdl:message>
  <wsdl:message name="ejbRemove">
  </wsdl:message>
  <wsdl:message name="ejbCreate">
  </wsdl:message>
  <wsdl:portType name="WebServiceHIS">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:GeneralException" name="GeneralException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbCreate">
      <wsdl:input message="tns:ejbCreate" name="ejbCreate">
    </wsdl:input>
      <wsdl:output message="tns:ejbCreateResponse" name="ejbCreateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CreateException" name="CreateException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbActivate">
      <wsdl:input message="tns:ejbActivate" name="ejbActivate">
    </wsdl:input>
      <wsdl:output message="tns:ejbActivateResponse" name="ejbActivateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:EJBException" name="EJBException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setSessionContext">
      <wsdl:input message="tns:setSessionContext" name="setSessionContext">
    </wsdl:input>
      <wsdl:output message="tns:setSessionContextResponse" name="setSessionContextResponse">
    </wsdl:output>
      <wsdl:fault message="tns:EJBException" name="EJBException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbRemove">
      <wsdl:input message="tns:ejbRemove" name="ejbRemove">
    </wsdl:input>
      <wsdl:output message="tns:ejbRemoveResponse" name="ejbRemoveResponse">
    </wsdl:output>
      <wsdl:fault message="tns:EJBException" name="EJBException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHISList">
      <wsdl:input message="tns:getHISList" name="getHISList">
    </wsdl:input>
      <wsdl:output message="tns:getHISListResponse" name="getHISListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ejbPassivate">
      <wsdl:input message="tns:ejbPassivate" name="ejbPassivate">
    </wsdl:input>
      <wsdl:output message="tns:ejbPassivateResponse" name="ejbPassivateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:EJBException" name="EJBException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceHISSoapBinding" type="tns:WebServiceHIS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ejbCreate">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ejbCreate">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejbCreateResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CreateException">
        <soap:fault name="CreateException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getUser">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GeneralException">
        <soap:fault name="GeneralException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbActivate">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ejbActivate">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejbActivateResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EJBException">
        <soap:fault name="EJBException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setSessionContext">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="setSessionContext">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="setSessionContextResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EJBException">
        <soap:fault name="EJBException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejbRemove">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ejbRemove">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejbRemoveResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EJBException">
        <soap:fault name="EJBException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHISList">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getHISList">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHISListResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ejbPassivate">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ejbPassivate">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejbPassivateResponse">
        <soap:body namespace="http://ejb.webservice.pdpcmb.caib.es/" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EJBException">
        <soap:fault name="EJBException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceHIS">
    <wsdl:port binding="tns:WebServiceHISSoapBinding" name="WebServiceHISPort">
      <soap:address location="http://10.215.5.132:48080/pdpcmb/services/WebServiceHIS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>